<div class="row">
  <div class="col">
    <h1> Users </h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <td class="text-right"><a href=" <%= new_admin_role_path %>" class="btn btn-primary"> Add Role xo </a></td>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between flex-row">
        <h4>Role</h4>
        <h4>Edit User</h4>
      </div>
      <%= turbo_stream_from "roles" %>
      <%= turbo_frame_tag "roles" do%>
        <%= render partial: "roles/role", collection: @roles, as: :role %>
      <% end %>
    </div>
  </div>
