<nav class="navbar navbar-light bg-dark">
  <b>
    <a class="navbar-brand" href="/">DELETE FOREVER</a>
  </b>
  <% if logged_in?%>
    <b>
      <a class="navbar-text">Welcome back
        <%= current_user.username %> the <%= current_user.roles.first&.role %></a>
    </b>
    <form class="form-inline">
      <% if admin? %>
        <a class="btn btn-outline-danger mr-2" href="/admin/users" role="button">
          Admin
        </a>
      <% end %>
      <a class="btn btn-outline-danger" href="/signout" role="button">
        Logout
      </a>
      <div class="dropdown pl-2">
        <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/options">User Profile Settings</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </form>
  <%else%>
    <form class="form-inline">
      <a class="btn btn-outline-primary" href="/signin" role="button">
        Login
      </a>
      <div class="pl-2">
        <a class="btn btn-outline-success" href="/signup" role="button">
          Sign Up
        </a>
      </div>
    </form>
  <%end%>
</nav>
